# sample_name fastq_r1 fastq_r2 sample_type
Pat1_DNA_NORMAL /path/to/your/fastq/Pat1_DNA_NORMAL_R1.fastq.gz /path/to/your/fastq/Pat1_DNA_NORMAL_R2.fastq.gz DNA_NORMAL
Pat1_DNA_TUMOR /path/to/your/fastq/Pat1_DNA_TUMOR_R1.fastq.gz /path/to/your/fastq/Pat1_DNA_TUMOR_R2.fastq.gz DNA_TUMOR
Pat1_RNA_TUMOR /path/to/your/fastq/Pat1_RNA_TUMOR_R1.fastq.gz /path/to/your/fastq/Pat1_RNA_TUMOR_R2.fastq.gz RNA_TUMOR
Pat2_DNA_NORMAL /path/to/your/fastq/Pat2_DNA_NORMAL_R1.fastq.gz /path/to/your/fastq/Pat2_DNA_NORMAL_R2.fastq.gz DNA_NORMAL
Pat2_DNA_TUMOR /path/to/your/fastq/Pat2_DNA_TUMOR_R1.fastq.gz /path/to/your/fastq/Pat2_DNA_TUMOR_R2.fastq.gz DNA_TUMOR
Pat2_RNA_TUMOR /path/to/your/fastq/Pat2_RNA_TUMOR_R1.fastq.gz /path/to/your/fastq/Pat2_RNA_TUMOR_R2.fastq.gz RNA_TUMOR
